langchain
langgraph
langchain-core
langchain-text-splitters
langchain-community

langchain-groq
groq

pymilvus
milvus-lite
langchain-milvus
langchain-huggingface
sentence-transformers

presidio-analyzer
presidio-anonymizer
spacy

python-dotenv
pydantic


pytest

fastapi
uvicorn
httpx
requests

mcp<2

langgraph-checkpoint-sqlite